.FinishedQuiz{
    margin: 0 10px;
    padding: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.FinishedQuiz ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.FinishedQuiz i{
    margin-left: 10px;
}

.FinishedQuiz i.success{
    color: rgba(161, 240, 69, 1);
}

.FinishedQuiz i.error{
    color: rgba(240, 87, 107, 1);
}